* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: whitesmoke;
}

#nav {
  height: 25px;
  width: 100%;
  display: inline-block;
  align-items: center;
  min-height: 8vh;
  background-color: #323A4B;
  font-family: 'Play', sans-serif;
  border-bottom: none;
}

.nav-links {
  height: 10px;
  width: 100%;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;
}

.nav-links li {
  float: left;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 14px;
  list-style: none;
  letter-spacing: 2px;

}

.logo img{
  padding: 5px;
  float: left;
  margin-right: 200px;
  max-width: 200px;
  max-height: 100px;
}


.header {
  margin: 0px;
  padding: 0px;
  border-bottom: none;
}

/*#73EB40 for text color green*/


#twitter {
height: 200px;
width: 75%;
padding: 10px;
margin: auto; 
display: flex;
justify-content: center;
align-items: center;
background-color: whitesmoke;
}



.content1 {
  height: 800px;
  width: 75%;
  padding: 10px;
  margin: auto; 
  background-color: whitesmoke;
}



.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 35%;
  float: right;
  border: 3px solid darkslategrey;
}

.main-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 60%;
  float: left;
  border: 3px solid darkslategrey; 
}

footer {
  height: 200px;
  width: 100%;
  background-color: #323A4B;
  color: whitesmoke;
  text-align: center;
  padding: 70px 0;
  margin: 0px 0px;
}



/* BELOW IS FOR THE SUPPORTING PAGES (TVC, TC, SHOP, ABOUT)*/
 

#main-content {
height: 1000px;
width: 75%;
padding: 10px;
margin: auto; 
display: flex;
justify-content: center;
align-items: center;
background-color:whitesmoke;
}


